## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()
# print(len(application_df))

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN", "NAME"], axis = 1, inplace = True)

In [3]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
unique_counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df["APPLICATION_TYPE"].value_counts()
app_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = app_type_counts[app_type_counts < 500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_counts_bin = application_df["CLASSIFICATION"].value_counts()
class_counts_bin

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts = class_counts_bin[class_counts_bin > 1]
class_counts.head()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_counts_bin[class_counts_bin < 1880].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df)
application_numeric.head()
# print(len(application_numeric))

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_numeric.IS_SUCCESSFUL.values
X = application_numeric.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
# print(len(X_test_scaled))

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()
input_features = len(X_train_scaled[0])

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim = input_features))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
train_model = nn_model.fit(X_train_scaled, y_train, epochs = 100)

Epoch 1/100
804/804 [==============================] - 8s 3ms/step - loss: 0.5705 - accuracy: 0.7227
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7294
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5524 - accuracy: 0.7312
Epoch 4/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5507 - accuracy: 0.7327
Epoch 5/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5498 - accuracy: 0.7334
Epoch 6/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5489 - accuracy: 0.7349
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5471 - accuracy: 0.7343
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5467 - accuracy: 0.7325
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7353
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7353
Epoch 11/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5448 - accuracy: 0.7332
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7352
Epoch 13/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5443 - accuracy: 0.7359
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7363
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7353
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7365
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7374
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7365
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7366
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7368
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7363
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7373
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7379
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7369
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5417 - accuracy: 0.7375
Epoch 26/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5412 - accuracy: 0.7380
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7381
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7378
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7374
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7390
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5404 - accuracy: 0.7380
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5402 - accuracy: 0.7387
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7379
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7383
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7380
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7391
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7383
Epoch 38/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5394 - accuracy: 0.7390
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7384
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7392
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7393
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5390 - accuracy: 0.7394
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5392 - accuracy: 0.7385
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5387 - accuracy: 0.7392
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7396
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7395
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7409
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7393
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7396
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5379 - accuracy: 0.7407
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7389
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7399
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7398
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7396
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7404
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5375 - accuracy: 0.7395
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7387
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7408
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7402
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7406
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7403
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7397
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5367 - accuracy: 0.7392
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7402
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7398
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7410
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7393
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7410
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7396
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7405
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7398
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7397
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7399
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5362 - accuracy: 0.7407
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7404
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7400
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7401
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7407
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7410
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7413
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7407
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7405
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7402
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7413
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7418
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7409
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7406
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7399
Epoch 89/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5354 - accuracy: 0.7420
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7409
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7416
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7403
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7405
Epoch 94/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5352 - accuracy: 0.7409
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5349 - accuracy: 0.7411
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7415
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7412
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7406
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7409
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7404

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5623 - accuracy: 0.7251 - 526ms/epoch - 2ms/step
Loss: 0.5623399615287781, Accuracy: 0.7251312136650085

In [17]:
# Export our model to HDF5 file
file_path = "AlphabetSoupCharity.h5"

nn_model.save(file_path)

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(